.d-flex{
    width:500px;
    margin:auto;
  }
  
  .from{
    height: 500px;
    width: 500px;
    margin:auto;
  }
  .book{
    color:white;
  }
  .col1{
    height: 20px;
    width: 5px;
    border:solid 2px black;
  }
  .col2{
    height: 20px;
    width: 100px;
    border:solid 2px black;
  }
  .col3{
    height: 20px;
    width: 100px;
    border:solid 2px black;
  }
  .col4{
    height: 20px;
    width: 20px;
    border:solid 2px black;
  }
  .col5{
    height: 20px;
    width: 1px;
    border:solid 2px black;
  }
  .col6{
    height: 20px;
    width: 10px;
    border:solid 2px black;
    margin-left:50px;
  }
  .col7{
    height: 20px;
    width: 20px;
    margin-left:5px;
    padding: 0px;
    border:solid 2px black;
  }
  .custom-select {
    color:black;
    background-color: white;
  }
 
  
  